.navigation{
	position:fixed;
	inset:40px 0 40px 20px;
	background:#fff;
	width:75px;
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	align-content:center;
	transition:0.5s;
}

.navigation.active{
	width:250px;
}